{%extends "base.html.twig" %}

{% block title %}Cadastro de Usuários{% endblock %}
{% block body %}
    <p> Algo deu errado ao salvar o usuário: <strong> {{ fulano }} </strong>
    <a href="{{ url('web_usuario_index')}}"> Voltar ao início </a>
{% endblock %}