{%extends "base.html.twig" %}

{% block title %}Cadastro de Usuários{% endblock %}
{% block body %}
    <p> Usuário <strong>{{ fulano }}</strong> cadastrado com sucesso!</p>
    <a href="{{ url('web_usuario_index')}}"> Voltar ao início </a>
{% endblock %}